body {
	font-family: Roboto Mono, monospace;
	margin: 0;
	background-color: #36020221;
}
h4 {
	margin: 0px;
}

.btn {
	background: #8b3f00 !important;
	color: #fff !important;
	border-color: #1f0600 !important;
}

.btn:hover {
	background: #b4b21e !important;
	border-color: #cad251 !important;
}

.card-title {
	color: #684b41;
}

#card {
	background-color: #5c1d00af;
	width: 35em;
}

#text_card {
	color: #ebd1a0;
}

/* <--STYLE HEADER--> */

.header__container {
	position: sticky;
	-webkit-position: sticky;
	top: 0;
	display: grid;
	padding: 0 5% 0 5%;
	z-index: 10;
	grid-template-columns: 8% 1fr 1fr;
	grid-template-rows: 1fr;
	background-color: #30201c;
	font-family: "Roboto Mono", monospace;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.header__nav {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	justify-items: center;
}

.header__logo-link {
	width: 6rem;
	justify-self: center;
}

.header__logo-img {
	margin: 4% 0% 0% 0%;
	width: 120%;
}

.header__h1 {
	font-weight: 500;
	color: #ebd1a0;
	letter-spacing: 1px;
	text-decoration: none;
	padding-left: 2%;
	margin: 2% 0% 2% 0%;
}

.header__link {
	margin: 5% 2% 4% 3%;
	text-align: center;
	text-wrap: nowrap;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 500;
	transition: width 1s;
	color: #ebd1a0;
}

.header__nav a:after {
	background-color: #ebd1a0;
	/* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px;
	/* Высота линии */
	width: 0%;
	-webkit-transition: width 0.3s ease-in-out;
	-moz--transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
}

.header__link:hover:after,
.header__link:focus:after {
	width: 100%;
	background-color: black;
}

.header__link:hover {
	letter-spacing: 1px;
}

.header__link:hover {
	transform: scale(1.03);
}

/* <--- STYLE SETING --> */

.main-container {
	padding: 5% 3%;
	margin: 0% 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container_info {
	padding: 2% 3%;
	margin: 0 auto;
	gap: 7px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	text-decoration: none;
	color: black;
}
.form-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px;
	padding-top: 20px;
}
.form-button {
	grid-column: 1/2;
	grid-row: 3/4;
	align-self: center;
	background-color: #f6825c;
	color: white;
	border: none;
	border-radius: 10px;
	font-weight: 700;
	align-self: center;
	padding: 5px 5px;
	height: 50%;
}
.input-container {
	display: flex;
	flex-direction: column;
	margin: 15px 0px;
	gap: 10px;
}
input {
	border: none;
	border-radius: 5px;
	border: 1px solid #f6825c;
	padding: 5px;
}
.image-person {
	width: 20%;
	border-radius: 80%;
}
.container-pay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form-pay {
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 15px;
}

#input-container-first {
	grid-row: 1/2;
	grid-column: 1/2;
}

.input-container-second {
	grid-row: 1/2;
	grid-column: 2/2;
}
.input-container-third {
	grid-row: 2/3;
	grid-column: 1/2;
}
.cashInput {
	grid-row: 3/4;
	grid-column: 1/2;
}
.submit {
	align-self: center;
	padding: 5px 5px;
	background-color: #f6825c;
	color: white;
	border: none;
	border-radius: 10px;
	font-weight: 700;
	grid-row: 4/5;
	grid-column: 1/2;
	height: 50%;
}
button:focus {
	background-color: grey;
}
.container-pay {
	width: 100%;
	margin-top: 60px;
	border-top: 1px solid rgb(190, 187, 187);
}

.name {
	font-size: 32px;
	font-weight: 700;
}
input:focus {
	border: 1px solid #000;
}
.hiddenSpan {
	display: none;
	font-weight: 700;
}

/* <-- MAIN CARTA--> */

.step {
	position: absolute;
	background: #f6825c;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	outline: 0;
	border: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	z-index: 5;
	font-size: 25px;
}

.step:hover {
	transform: scale(1.1);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.step:disabled {
	background: #7def8b;
	box-shadow: none;
	transform: scale(1);
}

.carta {
	position: relative;
	width: 300px;
	margin: 0 auto;
	border: 0;
	min-height: 700px;
}

.line {
	width: 50px;
	height: 3px;
	background: #30201c;
	position: absolute;
}

.dugaRight {
	width: 100px;
	height: 100px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border: 4px solid #30201c;
	border-left: 0;
	border-bottom: 0;
	position: absolute;
}

.dugaLeft {
	width: 100px;
	height: 100px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border: 4px solid #30201c;
	border-right: 0;
	border-bottom: 0;
	position: absolute;
}

.finish {
	width: 100px;
	height: 100px;
	position: absolute;
}

.happy {
	color: #f6825c;
	position: relative;
	z-index: 10;
	text-align: center;
}

.main_carta {
	position: relative;
	top: 100px;
}

.main_carta_container {
	display: flex;
	flex-direction: column;
	position: relative;
}
.burger-menu-content {
	display: none;
}

@media (min-width: 769px) {
	.menu-wrap {
		display: none;
	}
	/* Ваши стили здесь */
}

@media screen and (max-width: 768px) {
	.header__nav {
		display: none;
	}
	/* MENU STYLES */
	.menu-wrap {
		position: fixed;
		top: 9px;
		left: 89%;
		z-index: 1;
	}
	.menu-wrap .toggler {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		cursor: pointer;
		width: 50px;
		height: 50px;
		opacity: 0;
	}
	.menu-wrap .hamburger {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 60px;
		height: 60px;
		padding: 1rem;
		background: var(--primary-color);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	/* Hamburger Line */
	.menu-wrap .hamburger > div {
		position: relative;
		flex: none;
		width: 100%;
		height: 2px;
		background: #ebd1a0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.4s ease;
	}
	/* Hamburger Lines - Top & Bottom */
	.menu-wrap .hamburger > div::before,
	.menu-wrap .hamburger > div::after {
		content: "";
		position: absolute;
		z-index: 1;
		top: -10px;
		width: 100%;
		height: 2px;
		background: inherit;
	}
	/* Moves Line Down */
	.menu-wrap .hamburger > div::after {
		top: 10px;
	}
	/* Toggler Animation */
	.menu-wrap .toggler:checked + .hamburger > div {
		transform: rotate(135deg);
	}
	/* Turns Lines Into X */
	.menu-wrap .toggler:checked + .hamburger > div:before,
	.menu-wrap .toggler:checked + .hamburger > div:after {
		top: 0;
		transform: rotate(90deg);
	}
	/* Rotate On Hover When Checked */
	.menu-wrap .toggler:checked:hover + .hamburger > div {
		transform: rotate(225deg);
	}
	/* Show Menu */
	.menu-wrap .toggler:checked ~ .menu {
		visibility: visible;
	}
	.menu-wrap .toggler:checked ~ .menu > div {
		transform: scale(1);
		transition-duration: var(--menu-speed);
	}
	.menu-wrap .toggler:checked ~ .menu > div > div {
		opacity: 1;
		transition: opacity 0.4s ease 0.4s;
	}
	.menu-wrap .menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.menu-wrap .menu > div {
		background: rgb(135 90 70 / 92%);
		border-radius: 50%;
		width: 320vw;
		height: 210vw;
		display: flex;
		flex: none;
		align-items: center;
		justify-content: center;
		transform: scale(0);
		transition: all 0.4s ease;
	}
	.menu-wrap .menu > div > div {
		text-align: center;
		max-width: 90vw;
		max-height: 100vh;
		opacity: 0;
		transition: opacity 0.4s ease;
	}
	.menu-wrap .menu > div > div > ul > li {
		list-style: none;
		color: #ffe7ba;
		font-size: 1.5rem;
		padding: 1rem;
	}
	.menu-wrap .menu > div > div > ul > li > a {
		color: inherit;
		text-decoration: none;
		transition: color 0.4s ease;
	}
	.footer_content {
		width: 90vw;
		margin: 0 15% 0 10%;
	}
	.footer_subscribe_input {
		width: 68%;
		height: 1.5em;
	}
	.footer_subscribe_button {
		width: 50%;
		height: 2em;
	}
	.foot_logo p {
		font-size: 1rem;
	}
	.btn {
		font-size: 1em;
	}
	#text_card {
		width: 12em;
	}
	#card {
		width: 25em;
	}
	.header__link {
		font-size: 1em;
	}
	.header__container {
		align-items: center;
	}
	.header__h1 {
		font-size: 1.3em;
	}
	.header__logo-img {
		width: 105%;
	}
	/* стили для планшета */
}

@media (min-width: 426px) and (max-width: 767px) {
	.menu-wrap {
		left: 86%;
	}
	.header__h1 {
		font-size: 1.1em;
	}
	.header__container {
		grid-template-columns: 17% 2fr 1fr;
	}
	#card {
		width: 16em;
	}
	#text_card {
		width: 10em;
	}
	.h3,
	h3 {
		font-size: calc(1rem + 0.6vw);
	}
	.mt-3 {
		margin-top: 2rem !important;
	}
	ul {
		padding-left: 0rem;
	}
	.step {
		width: 45px;
		height: 45px;
	}
	div[id="line_2"] {
		left: 110px !important;
	}
	div[id="line_3"] {
		left: 167px !important;
	}
	div[id="line_4"],
	div[id="line_9"],
	div[id="line_10"] {
		left: 195px !important;
	}
	div[id="line_5"],
	div[id="line_8"],
	div[id="line_11"] {
		left: 119px !important;
	}
	button[id="1"],
	button[id="7"] {
		/* Новые стили */
		left: 10px !important;
	}
	button[id="2"] {
		/* Новые стили */
		left: 85px !important;
	}
	button[id="3"],
	button[id="5"],
	button[id="9"],
	button[id="11"] {
		/* Новые стили */
		left: 160px !important;
	}
	button[id="4"],
	button[id="10"] {
		/* Новые стили */
		left: 233px !important;
	}
	button[id="6"],
	button[id="12"],
	button[id="8"] {
		/* Новые стили */
		left: 84px !important;
	}
	div[id="dugaRight_0"] {
		left: 200px !important;
		top: 24px !important;
		width: 82px !important;
		height: 105px !important;
	}
	div[id="dugaRight_2"] {
		left: 200px !important;
		top: 223px !important;
		width: 82px !important;
		height: 105px !important;
	}
	.main_carta {
		position: relative;
		top: 73px;
	}
	.modal-content {
		width: 82vw;
		height: 57vh;
	}
	.tareas {
		width: 64vw;
		height: 30vh;
		margin: 1% 5% 0% 1%;
	}
	.h2_title {
		display: block;
		font-size: 0.8rem;
	}
	.label_1,
	.label_2,
	.label_3 {
		height: 12vh;
		width: 107%;
	}
	.label_1:after,
	.label_2:after,
	.label_3:after {
		height: 12vh;
	}
	.label_1:before,
	.label_2:before,
	.label_3:before {
		width: 15px;
		height: 15px;
		left: 10%;
		top: 19%;
	}
}

@media screen and (max-width: 425px) {
	.menu-wrap {
		left: 83%;
		top: 4px;
	}
	.header__container {
		grid-template-columns: 17% 1fr 1fr;
	}
	.header__h1 {
		font-size: 0.9em;
	}
	.header__logo-img {
		width: 85%;
	}
	#card {
		width: 20em;
	}
	#text_card {
		width: 10em;
	}
	ul {
		padding-left: 0rem;
	}
	.mt-3 {
		margin-top: 2rem !important;
	}
	.footer_partners > h4,
	.footer_subscribe_label {
		font-size: 3vw;
	}
	.foot_links > a,
	.footer_partners > a {
		font-size: 3vw;
	}
	.footer_subscribe_button {
		width: 55%;
		height: 1.5em;
		font-size: 2.1vw;
	}
	.footer_partners {
		margin-bottom: 10%;
	}
	.footer_bottom {
		font-size: 10px;
	}
	.footer_subscribe_input {
		width: 72%;
		height: 1.5em;
		font-size: 0.6em;
	}
	.footer_content {
		width: 95vw;
		margin: 0 4% 0 4%;
	}
	.step {
		width: 45px;
		height: 45px;
	}
	div[id="line_2"] {
		left: 110px !important;
	}
	div[id="line_3"] {
		left: 167px !important;
	}
	div[id="line_4"],
	div[id="line_9"],
	div[id="line_10"] {
		left: 195px !important;
	}
	div[id="line_5"],
	div[id="line_8"],
	div[id="line_11"] {
		left: 119px !important;
	}
	button[id="1"],
	button[id="7"] {
		/* Новые стили */
		left: 10px !important;
	}
	button[id="2"] {
		/* Новые стили */
		left: 85px !important;
	}
	button[id="3"],
	button[id="5"],
	button[id="9"],
	button[id="11"] {
		/* Новые стили */
		left: 160px !important;
	}
	button[id="4"],
	button[id="10"] {
		/* Новые стили */
		left: 233px !important;
	}
	button[id="6"],
	button[id="12"],
	button[id="8"] {
		/* Новые стили */
		left: 84px !important;
	}
	div[id="dugaRight_0"] {
		left: 200px !important;
		top: 24px !important;
		width: 82px !important;
		height: 105px !important;
	}
	div[id="dugaRight_2"] {
		left: 200px !important;
		top: 223px !important;
		width: 82px !important;
		height: 105px !important;
	}
	.main_carta {
		position: relative;
		top: 73px;
	}
	.modal-content {
		width: 82vw;
		height: 57vh;
	}
	.tareas {
		width: 64vw;
		height: 30vh;
		margin: 1% 5% 0% 1%;
	}
	.h2_title {
		display: block;
		font-size: 0.8rem;
	}
	.label_1,
	.label_2,
	.label_3 {
		height: 12vh;
		width: 107%;
	}
	.label_1:after,
	.label_2:after,
	.label_3:after {
		height: 12vh;
	}
	.label_1:before,
	.label_2:before,
	.label_3:before {
		width: 15px;
		height: 15px;
		left: 10%;
		top: 19%;
	}
	/* стили для широкого смартфона */
}

@media screen and (max-width: 375px) {
	.menu-wrap {
		top: 4px;
		left: 81%;
	} /* стили для среднего смартфона */
	.header__container {
		grid-template-columns: 21% 2fr 1fr;
	}
	.header__h1 {
		font-size: 0.9em;
	}
	.header__logo-img {
		width: 91%;
	}
	#card {
		width: 18em;
	}
	h3 {
		font-size: calc(1.1rem + 0.6vw);
	}
	#text_card {
		width: 10em;
	}
	.mt-3 {
		margin-top: 2rem !important;
	}
	.footer_partners > h4,
	.footer_subscribe_label {
		font-size: 3vw;
	}
	.foot_links > a,
	.footer_partners > a {
		font-size: 3vw;
	}
	.footer_subscribe_button {
		width: 68%;
		height: 1.5em;
		font-size: 2.5vw;
	}
	.footer_partners {
		margin-bottom: 10%;
	}
	.footer_bottom {
		font-size: 10px;
	}
	.footer_subscribe_input {
		width: 84%;
		height: 1.5em;
		font-size: 0.6em;
	}
	.footer_content {
		width: 95vw;
		margin: 0 4% 0 4%;
	}
	ul {
		padding-left: 0rem;
	}

	.step {
		width: 45px;
		height: 45px;
	}
	div[id="line_2"] {
		left: 110px !important;
	}
	div[id="line_3"] {
		left: 167px !important;
	}
	div[id="line_4"],
	div[id="line_9"],
	div[id="line_10"] {
		left: 195px !important;
	}
	div[id="line_5"],
	div[id="line_8"],
	div[id="line_11"] {
		left: 119px !important;
	}
	button[id="1"],
	button[id="7"] {
		/* Новые стили */
		left: 10px !important;
	}
	button[id="2"] {
		/* Новые стили */
		left: 85px !important;
	}
	button[id="3"],
	button[id="5"],
	button[id="9"],
	button[id="11"] {
		/* Новые стили */
		left: 160px !important;
	}
	button[id="4"],
	button[id="10"] {
		/* Новые стили */
		left: 233px !important;
	}
	button[id="6"],
	button[id="12"],
	button[id="8"] {
		/* Новые стили */
		left: 84px !important;
	}
	div[id="dugaRight_0"] {
		left: 200px !important;
		top: 24px !important;
		width: 82px !important;
		height: 105px !important;
	}
	div[id="dugaRight_2"] {
		left: 200px !important;
		top: 223px !important;
		width: 82px !important;
		height: 105px !important;
	}
	.main_carta {
		position: relative;
		top: 73px;
	}
	.modal-content {
		width: 82vw;
		height: 57vh;
	}
	.tareas {
		width: 64vw;
		height: 30vh;
		margin: 1% 5% 0% 1%;
	}
	.h2_title {
		display: block;
		font-size: 0.8rem;
	}
	.label_1,
	.label_2,
	.label_3 {
		height: 12vh;
		width: 107%;
	}
	.label_1:after,
	.label_2:after,
	.label_3:after {
		height: 12vh;
	}
	.label_1:before,
	.label_2:before,
	.label_3:before {
		width: 15px;
		height: 15px;
		left: 10%;
		top: 19%;
	}
}

@media screen and (max-width: 320px) {
	.foot_links > a,
	.footer_partners > a {
		font-size: 10px;
	}
	p {
		font-size: 12px;
	}
	.header__link {
		font-size: 1em;
	}
	.footer_partners > h4,
	.footer_subscribe_label {
		font-size: 13px;
	}
	.foot_links,
	.footer_partners,
	.footer_subscribe {
		margin-top: 0%;
	}
	.footer_content {
		width: 95vw;
		margin: 0 1% 0 3%;
	}
	.footer_subscribe_button {
		width: 91%;
		height: 1.5em;
		font-size: 0.5em;
	}
	.footer_subscribe_input {
		width: 95%;
		height: 1.5em;
		font-size: 0.6em;
	}
	.foot_links {
		width: 30vw;
	}
	.footer_content {
		grid-template-columns: 1fr 2fr 1fr;
	}
	.burger-menu-content.show {
		display: block;
	}
	.header__nav {
		display: none;
	}
	.header__h1 {
		font-size: 1em;
		width: 10em;
	}
	.header__container {
		grid-template-columns: 23% 1fr 1fr;
	}
	.header__logo-img {
		width: 96%;
	}
	.menu-wrap {
		top: 8px;
		left: 83%;
	}
	#card {
		width: 16em;
	}
	#text_card {
		width: 10em;
	}
	h3 {
		font-size: calc(1rem + 0.6vw);
	}
	.mt-3 {
		margin-top: 2rem !important;
	}
	ul {
		padding-left: 0rem;
	}
	.step {
		width: 45px;
		height: 45px;
	}
	div[id="line_2"] {
		left: 110px !important;
	}
	div[id="line_3"] {
		left: 167px !important;
	}
	div[id="line_4"],
	div[id="line_9"],
	div[id="line_10"] {
		left: 195px !important;
	}
	div[id="line_5"],
	div[id="line_8"],
	div[id="line_11"] {
		left: 119px !important;
	}
	button[id="1"],
	button[id="7"] {
		/* Новые стили */
		left: 10px !important;
	}
	button[id="2"] {
		/* Новые стили */
		left: 85px !important;
	}
	button[id="3"],
	button[id="5"],
	button[id="9"],
	button[id="11"] {
		/* Новые стили */
		left: 160px !important;
	}
	button[id="4"],
	button[id="10"] {
		/* Новые стили */
		left: 233px !important;
	}
	button[id="6"],
	button[id="12"],
	button[id="8"] {
		/* Новые стили */
		left: 84px !important;
	}
	div[id="dugaRight_0"] {
		left: 200px !important;
		top: 24px !important;
		width: 82px !important;
		height: 105px !important;
	}
	div[id="dugaRight_2"] {
		left: 200px !important;
		top: 223px !important;
		width: 82px !important;
		height: 105px !important;
	}
	.main_carta {
		position: relative;
		top: 73px;
	}
	.modal-content {
		width: 82vw;
		height: 57vh;
	}
	.tareas {
		width: 64vw;
		height: 30vh;
		margin: 1% 5% 0% 1%;
	}
	.h2_title {
		display: block;
		font-size: 0.8rem;
	}
	.label_1,
	.label_2,
	.label_3 {
		height: 12vh;
		width: 107%;
	}
	.label_1:after,
	.label_2:after,
	.label_3:after {
		height: 12vh;
	}
	.label_1:before,
	.label_2:before,
	.label_3:before {
		width: 15px;
		height: 15px;
		left: 10%;
		top: 19%;
	}
	/* стили для малого смартфона */
}
@media (max-width: 319px) {
	.carta {
		position: relative;
		width: 257px;
	}
	.step {
		width: 41px;
		height: 41px;
	}
	div[id="line_2"] {
		left: 110px !important;
	}
	div[id="line_3"] {
		left: 167px !important;
	}
	div[id="line_4"],
	div[id="line_9"],
	div[id="line_10"] {
		left: 174px !important;
	}
	div[id="line_5"],
	div[id="line_8"],
	div[id="line_2"],
	div[id="line_11"] {
		left: 99px !important;
	}
	button[id="1"],
	button[id="7"] {
		/* Новые стили */
		left: 10px !important;
	}
	button[id="3"],
	button[id="5"],
	button[id="9"],
	button[id="11"] {
		/* Новые стили */
		left: 143px !important;
	}
	button[id="4"],
	button[id="10"] {
		/* Новые стили */
		left: 209px !important;
	}
	button[id="2"],
	button[id="6"],
	button[id="8"],
	button[id="12"] {
		/* Новые стили */
		left: 79px !important;
	}
	div[id="dugaRight_0"] {
		left: 177px !important;
		top: 24px !important;
		width: 82px !important;
		height: 105px !important;
	}
	div[id="dugaRight_2"] {
		left: 177px !important;
		top: 223px !important;
		width: 82px !important;
		height: 105px !important;
	}
	.main_carta {
		position: relative;
		top: 73px;
	}
	.modal-content {
		width: 82vw;
		height: 57vh;
	}
	.tareas {
		width: 64vw;
		height: 30vh;
		margin: 1% 5% 0% 1%;
	}
	.h2_title {
		display: block;
		font-size: 0.8rem;
	}
	.label_1,
	.label_2,
	.label_3 {
		height: 12vh;
		width: 107%;
	}
	.label_1:after,
	.label_2:after,
	.label_3:after {
		height: 12vh;
	}
	.label_1:before,
	.label_2:before,
	.label_3:before {
		width: 15px;
		height: 15px;
		left: 10%;
		top: 19%;
	}
}
